<!--{% extends 'layout.html' %}-->
    
<!--{% block content %} -->
    
    <h1 style = 'color:blue;'>Significant Figures Error!</h1>
    <h2 style = 'color:blue;'>One or more of your entries was entered with the incorrect number of signficant figures.</h2>
    <h3 style = 'color:blue;'>Hint: All volumes, pH values, and pKa values should be reported to two decimal places.</h3>
    <h3 style = 'color:blue;'>All masses and molarities should be reported to four decimal places.</h3>
    <h3 style = 'color:blue;'>All mole values should be reported to six decimal places.</h3>
    <h2 style = 'color:blue;'>Please use the back arrow to return to your table and try again.</h2>
    
    

<!--{% endblock content %}-->


















